footer{
  height: 30px;
  width: auto;
  border-color: #00f;
  float: left;
}
.menu{
  height: 30px;
  width: auto;
  background: linear-gradient(to top,#000,#fff);
  float: left;
}
.clearfix,
.clearfix:before,
.clearfix:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}
.menu li {
    display: block;
    float: left;

}
/*footer li {
    display: block;
    float: left;
}*/
.left{
  height: 630px;
  width: 300px;
  float: left;
}
.right{
  width: auto;
  margin: 10px 5px 20px 320px;
}
